
{% extends 'base.html' %}


{% block main %}


    <form method="post" enctype="multipart/form-data" class="form-section container mt-4">
        <h4>Кабинет пользователя</h4>
        <div class="d-flex text-muted pt-3">
      <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark ml-3">@{{ user.username }}</strong>
        {% if user.email %}
        <b class="ml-3">Email: </b> <span class="ml-3">{{ user.email }}</span>
        {% endif %}
      </p>
    </div>
        <hr>
        <h5>Изменить данные пользователя {{ user.username }}</h5>

    <!--  Обязательный параметр для передачи csrf_token-->
        {% csrf_token %}
         
        {{ updateUserForm.as_p }}
        {{ profileForm.as_p }}

        <button class="btn btn-outline-success" type="submit">Обновить</button>

        {% if user.is_superuser %}

            <a href="{% url 'index' %}" class="btn btn-info mt-3">Администрирование сайта</a>
            <a href="{% url 'add-picture' %}" class="btn btn-success mt-3">Добавить картину</a>
        {% endif %}

    </form>


{% endblock %}



